<div>
  <p>Dear <b><%= name %></b>,</p>
  <p>
    Thank you for registering an account with <a href="autotitanic.com">Autotitanic.com</a>,
    Africa's giant motoring marketplace.
  </p>
  <p style="margin: 0">Please click on the link below to verify your account.</p>
  <a href="<%= link %>" style="margin-bottom: 12px">Link</a>
  <p></p>
  <p style="margin: 0">Many thanks,</p>
  <a href="autotitanic.com">Autotitanic Team</a>
</div>
