<p>Dear <b> <%= name %> </b>,</p>
<p>We are sorry to inform you that your advert has been rejected because <%= reason %></p>
<p>Please correct this and resubmit for our review and approval.</p>
<p style="margin: 0">Thank you,</p>
<a href="autotitanic.com">Autotitanic.com</a>
