<p>Dear <b><%= name %></b>,</p>
<p>Great news!</p>
<p>
  We are pleased to inform you that your advert has now gone live. We wish you best of luck with
  your sale.
</p>
<p style="margin: 0">Thank you,</p>
<a href="autotitanic.com">Autotitanic.com</a>
